<!doctype html>
<html ng-app="chatApp">

<head>
    <meta charset="UTF-8">
    <title>chat room</title>
    <link rel="stylesheet" type="text/css" href="css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body ng-controller="chatMainCtrl">
<div class="columns wrapper">
    <div class="column is-quarter">
        <div class="menu">
            <userlist></userlist>
        </div>
    </div>
    <div class="column chat">
        <posttext class="post-list">
        </posttext>
        <div class="column post">
            <textarea id="postText" ng-model="postText" class="post-text"
                      ng-keyup="event=$event;postTextKeydownEvent()"></textarea>

            <div class="post-fun">
                <input class="input display-inline-block w10p" type="text" ng-model="newName" placeholder="改名">
                <a class="button is-info" ng-click="renameEvent()">改名</a>
                <a class="button is-success" ng-click="postSentEvent(event)">发送</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/socket.io.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/angular.js/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/angular.js/1.4.9/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>

</html>
