<!doctype html>
<html ng-app="chatApp">

<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body ng-controller="chatMainCtrl">
    <div class="columns wrapper">
        <div class="column is-quarter">
            <div class="menu">
                <userlist></userlist>
            </div>
        </div>
        <div class="column chat">
            <posttext class="post-list">
            </posttext>
            <div class="column post">
                <textarea id="postText" ng-model="postText" class="post-text" ng-keyup="event=$event;postTextKeydownEvent()"></textarea>
                <div class="post-fun">
                    <a class="button is-success" ng-click="postSentEvent(event)">发送</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/angular.js/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
