html,
body {
    height: 100%;
    overflow: hidden;
}

.wrapper,
.wrapper .column {
    height: 100%;
}

.chat {
    position: relative;
    height: 100%;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 320px;
}

.column.post {
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    width: 100%;
}

.post-text {
    width: 99%;
    height: 60%;
}

.post-list {
    display: block;
    height: 70%;
    overflow: auto;
}

.tag {
    height: auto;
    line-height: 24px;
    max-width: 99%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.menu {
    border: none;
}

.display-inline-block {
    display: inline-block !important;
}

.w10p {
    width: 10% !important;
}
