html,
body {
    height: 100%;
    overflow: hidden;
}

.wrapper,
.wrapper .column {
    height: 100%;
}

.chat {
    position: relative;
    height: 100%;
    min-height: 320px;
    padding-left: 0;
}

.column.post {
    height: auto;
    position: absolute;
    left: 0;
    border-top: 3px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.post-text {
    display: inline-block;
    width: 50%;
}

.post-list {
    display: block;
    height: 85%;
    max-height: 500px;
    overflow: auto;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.talk-name{
    font-weight: bolder;
}

.tag {
    height: auto;
    line-height: 24px;
    max-width: 99%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.menu {
    border: none;
}

.display-inline-block {
    display: inline-block !important;
}

.w10p {
    width: 10% !important;
}
